:root{
    --primary-color: red;
    --secondary-color: green;
    --background-color: white;
    --text-color: black;

    --schema: --primary-color;
}

body.dark-mode {
 --background-color: #1a1a2e;
 --text-color: #e0e0e0;
 /* Ce alte elemente trebuie schimbate? Ganditi-va! */
}

* {
    box-sizing: border-box;
    margin: 10px 7px 4px 5px;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    background-color: var(--background-color);
}

header, main, footer, aside{
    background-color: var(--background-color);
    color:var(--text-color)
}

footer.form.textarea{
    color: var(--text-color);
}

img{
    border-radius: 50%;
    box-shadow:none;
}